$color-primary: #20a0ff;

.del-el-btn{
  background-color: #FF6347;
}

.jump-to-lay{
  color: white;
  background: #FF6347;
  padding: 8px;
  font-size: 13px;
  height: 50px;
  width: 100px;
  text-align: center;
  border-radius: 11px;
}
