<el-table :data="inputValue" highlight-current-row v-loading="listLoading" @selection-change="selsChange"
          style="width: 100%;">
    <el-table-column type="selection" width="55">
    </el-table-column>
    <el-table-column prop="orderid" label="订单编号" width="180">
    </el-table-column>
    <el-table-column prop="name" label="下单人" width="120" sortable>
    </el-table-column>
    <el-table-column prop="age" label="订单数量" width="120" sortable>
    </el-table-column>
    <el-table-column prop="date" label="下单时间" width="180" sortable>
    </el-table-column>
    <el-table-column prop="addr" label="送货地址" min-width="180" sortable>
    </el-table-column>
    <el-table-column label="操作" width="150">
        <template scope="scope">
            <el-button size="small" @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
            <el-button class="del-el-btn" type="danger" size="small" @click="handleDel(scope.$index, scope.row)">删除
            </el-button>
        </template>
    </el-table-column>
</el-table>